.title{
  text-align: center;
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}

.mainnav li{
  display: inline-block;
  text-align: center;
  Margin: 8em;
  border: none solid silver;
  background-color: rgb(243, 235, 235);
}

.mainnav ul{
text-align: center;
  display: inline-block;
}

.body{
  text-align: center;
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}

.footernav li{
  display: inline-block;
  text-align: center;
  Margin: 8em;
  border: none solid silver;
  background-color: rgb(243, 235, 235);
}

.footernav ul{
text-align: center;
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}