.title{
  text-align: center;
  background-color:#26272b;
  padding:1% 1%;
  font: bold 100%;
  color:#737373;
}

/* main site Nav */
.no-underline {
text-decoration: none;

}
.mainnav li{
  background-color: none;
}

.mainnav li a{
text-decoration: none;
color: #737373;

}

.mainnav li a:hover{
  color: purple;
  
  }

  .welcome {
    padding: 2%;

  }

/* site Body */

.body{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}

/* translator google script */
.translator{
  text-align: center;
  padding: 2%;
  }
  
  .translator-text{
  text-align: center;
  }


/* Text Game might be to hard for the js involved  */

/*.text-game{
display: inline-block;
text-align: center;
}

#output {
font: 16px Consolas;
border: none;
background: black;
color: #737373;
} */

/* Bottom Page Nav */

  .footernav li{
    background-color: none;
    }

  .footernav li a{
  text-decoration: none;
  color: #737373;
  }

  .footernav li a:hover{
    color: purple;
  }


/* footer */

.copyright{
  text-align: center;

}

/* flexboxes */

  /* main site Nav */
    .mainnav{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .welcome{
      text-align: center;
    }
    
    .intro{
    text-align: center;  
    }
    
    .videos{
      text-align: center;
    }
    
    .about-me{
      text-align: center;
    }

  /* Bottom Page Nav */
    .footernav {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

/* media querys */

@media only screen and (max-width:800px){
  
  /* main site Nav */
  
  }

@media only screen and (max-width:1000px){

/* main site Nav */

    }